@media(min-width: 768px) {
	/*----------------------------------------
	 		HEADER / NAVIGATION MENU 
	----------------------------------------*/
	.header {
		display: flex;
	}
	.logo {
		position: relative;
	}
	.icon {
		display: none;
	}
	.navbar {
		flex-direction: row;
		align-items: center;
	}
	.menu {
		display: flex;
		justify-content: end;
		height: auto;
	    padding: 0;
	    background-image: none;
	    background-color: var(--bg-menu-desktop);
	    transform: translateY(0);
	}
	.menu-item a {
		padding: .5rem;
		color: var(--font-color-grayish);
		transition: text-shadow .1s;
	}
	.menu-item:last-child a{
		padding: 1rem;
		background-color: var(--bg-plans-btn);
		color: var(--font-color-light);	
	}
	.menu-item a:hover {
		color: var(--font-color-dark);
		text-shadow: 0 0 .65px #000;
	}
	.menu-item:last-child a:hover{
		color: var(--font-color-light);
	}
}