
@media(min-width: 1024px) {
	/*----------------------------------------
	 		1.HEADER / NAVIGATION MENU 
	----------------------------------------*/
	.nav {
		width: 86%;
		margin: 0 auto;
	}
	.nav_menu-item a {
		padding: .8rem;
	}
	.nav_menu-item:last-child a {
		padding: 1rem 1.5rem;
		margin-left: 1rem;
	}

	/*----------------------------------------
	 		2.HERO SECTION 
	----------------------------------------*/
	.hero-container {
		padding-bottom: 14rem;
	}
	.hero {	
		padding: 0 6rem;
	}	
	.hero_info {
		width: 43%;
	}
	.hero_img {
		width: 55%;
		transform: translateY(112px);	
	}
	.hero_title, 
	.hero_text {
		width: auto;
	}
	.hero_title:before {
		width: 36%;
	}
	.img-left-desktop {
		left: 0;
		top: 40%;
	}
	/*----------------------------------------
	 		3.SERVICES SECTION 
	----------------------------------------*/
	.services {
		padding: 4rem 6rem;
	}
	.services_title {
		font-size: 4.5rem;
	}
	.service_title {
		margin: 1.5rem;
		margin-left: 0;
		font-size: 1.8rem;
	}
	.service_text {
		max-width: 320px;
	}

	/*----------------------------------------
	 		4.INFO-DETAILS 
	----------------------------------------*/
	.info {
		height: 260px;
		margin: 6rem 6rem;
	}
	.info_text {
		width: 500px;
		font-size: 3.7rem;
	}
	/*----------------------------------------
	 		5.FOOTER
	----------------------------------------*/
	.footer_bar {
		width: 80%;
	}
	.footer_links {
		align-items: flex-start;
		width: 80%;
		padding-left: 5rem;
	}
}

@media(min-width: 1280px) {
	.services_articles {
		gap: 6rem;	
	}
}