
@media(min-width: 992px) {
	/*----------------------------------------
	 		1.HEADER / NAVIGATION MENU 
	----------------------------------------*/
	.navbar {
		padding: 1rem 6rem;
	}

	/*----------------------------------------
	 		2.HERO SECTION 
	----------------------------------------*/
	.hero-container {
		padding-bottom: 14rem;
	}
	.hero {	
		padding: 0 6rem;
	}	
	.hero_info {
		width: 50%;
	}
	.hero_title {
		width: 400px;
	}
	.hero_title:before {
		width: 25%;
	}
	.hero_text {
		width: 400px;
	}
	.hero_img {	
		transform: translateY(135px);	
	}

	.img-left-desktop {
		left: 0;
		top: 58%;
	}
	/*----------------------------------------
	 		3.SERVICES SECTION 
	----------------------------------------*/
	.services {
		padding: 4rem 6rem;
	}
	.services_title {
		font-size: 4.5rem;
	}
	.service_title {
		margin: 1.5rem;
		margin-left: 0;
		font-size: 1.8rem;
	}
	.service_text {
		max-width: 320px;
	}

	/*----------------------------------------
	 		4.INFO-DETAILS 
	----------------------------------------*/
	.info {
		height: 260px;
		margin: 6rem 6rem;
	}
	.info_text {
		width: 500px;
	}
	/*----------------------------------------
	 		5.FOOTER
	----------------------------------------*/
	.footer_bar {
		width: 80%;
	}
	.footer_links {
		align-items: flex-start;
		width: 80%;
		padding-left: 5rem;
	}
}

@media(min-width: 1200px) {
	.hero_info {
		width: 60%;
	}
	.hero_text {
		width: 600px;
	}
	
	.services_articles {
		gap: 6rem;	
	}
}