/*----------------------------------------
- GENERAL STYLES
- 1.HEADER
- 2.HERO SECTION
- 3.SERVICES SECTION
- 4.INFO-DETAILS
- 5.FOOTER
------------------------------------------*/

/*----------------------------------------
			GENERAL STYLES
-----------------------------------------*/ 
:root {
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);
	--font-color-light: #FFF;	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif;
	color: var(--dark-violet);
	max-width: 1440px;
	margin: 0 auto;
}
img {
	display: block;
	width:  100%;
}
h2 {
	font-family: 'DM Serif Display', serif;
	font-size: clamp(2.8rem, 5vw, 5rem);
}
p {
	font-size: clamp(1.15rem, 1.25vw, 1.5rem);
}
a {
	font-size: clamp(1rem, 1vw, 1.15rem);
}


/*----------------------------------------
		1.HEADER / NAVIGATION MENU
------------------------------------------*/
.header {
	position: sticky;
	top: 0;
	background-color: var(--very-light-gray);
	z-index: 999;
}

.top_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	position: relative;
	z-index: 100;
	background-color: var(--very-light-gray);;
}
.nav_menu {
	position: absolute;	
	width: 100%;
	height: 600px;
	padding-top: 2rem;
	list-style-type: none;
	background-image: url('../images/bg-pattern-mobile-nav.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	background-color: var(--very-dark-violet);
	transform: translateY(-100%);
	transition: transform .9s;
	z-index: 50;
}
.nav_menu-item {
	padding: 1.5rem 0;
	text-align: center;	
}
.nav_menu-item a {
	padding: 1rem 6.5rem;
	font-weight: 700;
	color: var(--font-color-light);	
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.nav_menu-item a:focus{
	border: 1px solid var(--font-color-light);
}

/* Classes used with js */
.show-menu {
	transform: translateY(0);
	transition: transform .9s;
}
.hide {
	display: none;
}
.show-icon {
	display: block;
}


/*----------------------------------------
			2. HERO SECTION
-----------------------------------------*/ 
.hero-container {
	position: relative;
}
.hero_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 487px;
	background-image: url(../images/bg-pattern-intro-left-mobile.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: var(--dark-violet);
	color: var(--font-color-light);
	text-align: center;
}
.hero_title{
	width: 300px;
	font-family: 'DM Serif Display', serif;
	font-size: 2.5rem;
	font-weight: 400;
	padding-bottom: 1rem;
}
.hero_text {
	width: min(360px, 90%);
	line-height: 1.5;
	margin-bottom: 2rem;
	color: var(--very-light-gray);
}
.hero_link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--very-light-gray);
	border:  1px solid #FFF;
	padding: .7rem 1.7rem;
}


/*----------------------------------------
			3. SERVICES SECTION
-----------------------------------------*/ 
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10rem 2rem 7rem;	
}
.services_title {
	font-family: 'DM Serif Display', serif;
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 2rem;
	position: relative;
}
.services_title:before {
	content: '';
	position: absolute;
	height: 5px;
	width: 50%;
	top: -40px;
	left: 25%;
	border-top: 1px solid var(--grayish-blue);
}

.service {
	padding-top: 2rem;
}
.service_img {
	width: 75px;
	margin: 0 auto;
}
.service_title {
	font-family: 'DM Serif Display', serif;
	font-size: 1.8rem;
	text-align: center;
	margin: 1rem;
}
.service_text {
	width: min(320px, 90%);
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.5;
	color:  var(--dark-grayish-violet);
}

/*----------------------------------------
			4. INFO-DETAILS
-----------------------------------------*/ 
.info {
	height: 340px;
	margin: 2rem;
	color: var(--font-color-light);
	background-color: var(--dark-violet);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
	background-repeat: no-repeat;
	background-position: right top -1vh;
	overflow: hidden;
}
.info_text {
	font-family: 'DM Serif Display', serif;
	font-size: 2.5rem;
	text-align: center;
	margin: 1rem;
}
.info_link {
	text-decoration: none;
	text-transform: uppercase;
	border:  1px solid #FFF;
	padding: .8rem 1.5rem;
	margin-top: 1rem;
}
/*----------------------------------------
			5. FOOTER
-----------------------------------------*/ 
.footer {
	padding-bottom: 4rem;	
	margin-top: 8rem;
	background-color: var(--very-light-gray);
}
.footer_bar {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	height: 190px;
	padding-bottom: .5rem;
	background-image: url(../images/bg-pattern-footer-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.social-links {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: .8rem;
	padding-top: 1rem;
}
.line {
	width: 85%;
	border: 1px solid var(--dark-grayish-violet);
	margin: 2rem auto 3rem;
}
.footer_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}
.footer_links-group {
	text-align: center;
	margin-bottom: 2rem;
}
.footer_links-group h2 {
	margin-bottom: 1.5rem;
	font-size: .8rem;
	color: var(--dark-grayish-violet);
}
.footer_links-group ul {
	list-style-type: none;
	font-weight: 700;
}
.footer_links-group ul li {
	padding: .5rem;
	font-size: .8rem;
}
