/*----------------------------------------
- GENERAL STYLES
- 1.HEADER
- 2.SECTION HERO
- 3.SERVICES SECTION
- 4.INFO-DETAILS
- 5.FOOTER
------------------------------------------*/

/*----------------------------------------
			GENERAL STYLES
-----------------------------------------*/ 
:root {
	--bg-menu-mobile: hsl(270, 9%, 17%);
	--bg-menu-desktop: #FFF;
	--bg-plans-btn: hsl(270, 9%, 17%);
	--bg-hero: hsl(256, 26%, 20%); 
	--bg-hero-link-hover: #FFF;
	--bg-info-details: hsl(256, 26%, 20%); 
	--font-color-light: #FFF;
	--font-color-grayish: hsl(216, 30%, 68%);
	--font-color-dark: hsl(270, 9%, 17%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif;
}
.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
}
img {
	display: block;
	width:  100%;
}

/*----------------------------------------
		1.HEADER / NAVIGATION MENU
------------------------------------------*/
.header {
	position: sticky;
	top: 0;
	height: 75px;
	padding: 1rem;
}

.logo {
	position: absolute;
	top: 30%;
	width: 112px;
	height: 18px;
	z-index: 100;
}
.icon {
	width: 32px;
	height: 32px;
}
.navbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.menu {
	display: none;
	width: 100%;
	height: 600px;
	padding: 1.5rem;
	list-style-type: none;
	background-image: url('../images/bg-pattern-mobile-nav.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	background-color: var(--bg-menu-mobile) ;
	transform: translateY(-654px);
	transition: transform .9s;
}
.menu-item {
	padding: 1rem;
	margin-top: .5rem;
	text-align: center;	
}
.menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--font-color-light);
	letter-spacing: 3px;
	padding: 1rem 2.5rem;
	width: auto;
	cursor: pointer;
}

.menu-item a:focus{
	border: 1px solid var(--font-color-light);
}


/* Classes used with js */
.show-menu {
	display: block;
	transform: translateY(0);
	transition: transform .9s;
}
.hide-icon {
	display: none;
}
.show-icon {
	display: block;
}

/*----------------------------------------
			2. SECTION HERO
-----------------------------------------*/ 
.hero_img {
	display: block;
	width: 100%;
}
.hero_info {
	height: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../images/bg-pattern-intro-left-mobile.svg);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: var(--bg-hero);
	text-align: center;
	color: var(--font-color-light);
}
.hero_title{
	width: min(350px, 89%);
	font-family: 'DM Serif Display', serif;
	font-size: 2.7rem;
	letter-spacing: 2px;
	padding-bottom:  1rem;	
}
.hero_text {
	width: min(320px, 89%);
	line-height: 1.5;
	margin-bottom: 2rem;
}
.hero_link {
	text-decoration: none;
	text-transform: uppercase;
	border:  1px solid #FFF;
	padding: .5rem 1.5rem;
}

/*----------------------------------------
			3. SERVICES SECTION
-----------------------------------------*/ 
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 5rem 2rem;	
}
.services_title {
	font-family: 'DM Serif Display', serif;
	font-size: 2.8rem;
	color:  var(--font-color-dark);
	margin-bottom: 2rem;
	position: relative;
}
.services_title:before {
	content: '';
	position: absolute;
	height: 5px;
	width: 50%;
	top: -15px;
	left: 25%;
	border-top: 1px solid var(--font-color-grayish);
}

.service {
	padding-top: 2rem;
}
.service_img {
	width: min(60px, 70%);
	margin: 0 auto;
}
.service_title {
	font-family: 'DM Serif Display', serif;
	font-size: 1.5rem;
	text-align: center;
	color:  var(--font-color-dark);
	margin: 1rem;
}
.service_text {
	width: min(320px, 89%);
	margin: 0 auto;
	font-size: 1rem;
	color:  var(--font-color-grayish);
}

/*----------------------------------------
			4. INFO-DETAILS
-----------------------------------------*/ 
.info {
	height: 400px;
	color: var(--font-color-light);
	background-color: var(--bg-info-details);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info_text {
	font-family: 'DM Serif Display', serif;
	font-size: 2.5rem;
	text-align: center;
	margin: 1rem;
}
.info_link {
	text-decoration: none;
	text-transform: uppercase;
	border:  1px solid #FFF;
	padding: .5rem 1.5rem;
}
/*----------------------------------------
			5. FOOTER
-----------------------------------------*/ 
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem 1rem;
}
.footer_bar {
	padding:  2rem;
}
.social-links {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: .5rem;
	padding-top: 1rem;
}
.footer_links {
	text-transform: uppercase;
}
.footer_links-group {
	text-align: center;
	margin-bottom: .5rem;
}
.footer_links-group h2 {
	margin: 1rem;
	font-size: 1rem;
	color: var(--font-color-grayish);
}
.footer_links-group ul {
	list-style-type: none;
	font-weight: 700;
}
.footer_links-group ul li {
	padding: .5rem;
}